<template>
  <div>
    <div class="cards-wrap">
        <h1>Home page</h1>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {
  }
}
</script>
