<template>
  <div>
    <div class="cards-wrap">
        <tabs />
        <card />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import card from '../components/card'
import tabs from '../components/tabs'

export default {
  name: 'Home',
  components: {
    card,
    tabs
  }
}
</script>
