<template>
<div>
    <div class="gcard">
        <div class="gcard__img">
            <img src="@/assets/images/pictures/card-bg.jpg" alt="">
        </div>
        <div class="gcard__content">
            <div class="ctitle">"Профессиональный бизнес тренер"</div>
            <div class="cdescr">Credibly utilize holistic action items for multidisciplinary expertise. Collaboratively whiteboard professional vortals rather than sustainable mindshare.</div>
            <div class="gcard__tags">
                <div class="gtag active">Успех</div>
                <div class="gtag active">Успех</div>
                <div class="gtag active">Успех</div>
                <div class="gtag active">Успех</div>
                <div class="gtag active">Успех</div>
                <div class="gtag active">Успех</div>
            </div>
            <hr>
            <div class="gcard__bottom">
                <div class="mot">
                    <div class="mot__ava" style="background:url(https://source.unsplash.com/random/60x60) no-repeat center/cover"></div>
                    <div class="mot__text">Мотивационный <br>  Мотиватор</div>
                </div>
                <div class="guser">
                    <svg class='svg-usergreysmall-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#usergreysmall' /></svg>
                    <span class="guser__count">1276</span>
                </div>
                <div class="gcard__btn">
                    <button type="button" class="def-btn">войти</button>
                </div>
            </div>
        </div>
    </div>
    <div class="gcard" v-for="item in 5" :key="item">
        <div class="gcard__img">
            <img src="@/assets/images/pictures/card-bg.jpg" alt="">
        </div>
        <div class="gcard__content">
            <div class="ctitle">"Профессиональный бизнес тренер"</div>
            <div class="cdescr">Credibly utilize holistic action items for multidisciplinary expertise. Collaboratively whiteboard professional vortals rather than sustainable mindshare.</div>

            <div class="gcard__tags">
            </div>
            <hr>
            <div class="gcard__bottom">
                <div class="mot">
                    <div class="mot__ava" style="background:url(https://source.unsplash.com/random/60x60) no-repeat center/cover"></div>
                    <div class="mot__text">Мотивационный <br>  Мотиватор</div>
                </div>
                <div class="guser">
                    <svg class='svg-usergreysmall-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#usergreysmall' /></svg>
                    <span class="guser__count">1276</span>
                </div>
                <div class="gcard__btn">
                    <button type="button" class="def-btn">войти</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>