<template>
    <!-- begin tabs -->
    <div class='tabs'>
        <div class="tab">Лента постов</div>
        <div class="tab active">Мои группы</div>
        <div class="tab">Запросы о помощи</div>
    </div>
    <!-- end tabs -->
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>