<template>
  <div id="app">
    <base-layout>
      <router-view/>
    </base-layout>
  </div>
</template>
<script>
import baseLayout from "./layouts/baseLayout.vue"

export default {
  name: 'Home',
  components: {
    baseLayout
  }
}
</script>

<style lang="sass">
@import  "./assets/styles/main.min"

</style>
