<template>
    <div>
        <!-- begin header -->
        <div class='header'>
            <div class="header__logo">
                <a href="/" class="logo">
                    <svg class='svg-logo-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#logo' /></svg>
                </a>
            </div>
            <div class="header__content">
                <div class="nums">
                    <svg class='svg-cuboc-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#cuboc' /></svg>
                    <span class="nums__text">96/128</span>
                    <svg class='svg-arrowreddown-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#arrowreddown' /></svg>
                </div>
                <div class="nums">
                    <svg class='svg-star-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#star' /></svg>
                    <span class="nums__text">594</span>
                    <svg class='svg-arrowgreenup-icon'>
                        <use xlink:href='../assets/images/svgicons/sprite.svg#arrowgreenup' /></svg>
                </div>
                <!-- begin bell -->
                <div class='bell'>
                    <div class="bell__btn">
                        <svg class='svg-bang-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#bang' /></svg>
                        <span class="bell__count">2</span>
                    </div>
                </div>
                <!-- end bell -->
                <!-- begin ava -->
                <div class='ava'>
                    <div class="ava__img" style="background:url(https://source.unsplash.com/random/60x60) no-repeat center/cover"></div>
                </div>
                <!-- end ava -->
            </div>
        </div>
        <!-- end header -->
        <div class="page-wrap">
            <aside class="sidebar">

                <router-link to="/courses" class="slink">
                    <div class="slink__icon">
                        <svg class='svg-education-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#education' /></svg>
                    </div>
                    <span class="slink__text">Курсы</span>
                </router-link>
                <router-link to="/raiting" class="slink">
                    <div class="slink__icon">
                        <svg class='svg-raiting-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#raiting' /></svg>
                    </div>
                    <span class="slink__text">Рейтинг</span>
                </router-link>
                <router-link to="/community" class="slink">
                    <div class="slink__icon">
                        <svg class='svg-education-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#education' /></svg>
                    </div>
                    <span class="slink__text">Сообщество</span>
                </router-link>
                <router-link to="/library" class="slink">
                    <div class="slink__icon">
                        <svg class='svg-library-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#library' /></svg>
                    </div>
                    <span class="slink__text">Библиотека</span>
                </router-link>
                <router-link to="/products" class="slink">
                    <div class="slink__icon">
                        <svg class='svg-products-icon'>
                            <use xlink:href='../assets/images/svgicons/sprite.svg#products' /></svg>
                    </div>
                    <span class="slink__text">Продукты</span>
                </router-link>

            </aside>
            <main class="page-content">
                <slot></slot>
            </main>
        </div>

    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>